@import './root.scss';



.about-us-component {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-component-title {
    font-family: $stixcp-font;
    min-width: 250px;
    color: $stixcp-blue;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    width: 95%;
    font-size: 1.7em;
}



.about-us-component-description {
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $stixcp-blue;
    font-size: 1.32em;
    text-align: justify;
    font-weight: 500;
    margin-top: -20px;
}

#about-us-component-button {
    width: 95% !important;
    height: 40px !important;
    max-height: 50px !important;
    background-color: rgba(255, 255, 255, 0.729);
    border-radius: 40px;
    color: $stixcp-blue;
    font-size: 58px;
    font-family: $stixcp-font;
    border-color: $stixcp-blue;
    text-align: center;
    font-weight: bold;
    transition-duration: 230ms;
    filter: opacity(90%);
    font-size: 10px;
    z-index: 300;
    cursor: pointer;
    box-shadow: none;

}


#about-us-component-button:hover {
    box-shadow: -7px -15px 42px -14px rgba(98, 87, 87, 0.75) inset;
    -webkit-box-shadow: -7px -15px 42px -14px rgba(98, 87, 87, 0.75) inset;
    -moz-box-shadow: -7px -15px 42px -14px rgba(98, 87, 87, 0.75) inset;
    opacity: 100%;
    background-color: $stixcp-blue;
    color: white;
    box-shadow: none;
}







@media screen and (min-width: 501px) {
    .about-us-component-title {
        font-size: 1.1em;
    }

    .about-us-component-description {
        font-size: 0.7em;
        line-height: 20px;

    }
}

@media screen and (max-width: 500px) {
    .about-us-component-title {
        font-size: 0.9em;
    }

    .about-us-component-description {
        text-align: start;
    }
}