@import './root.scss';


.navbar {
    background-color: $stixcp-blue;
    color: $stixcp-white;
    min-width: 250px !important;    
    display: flex;
    flex-direction: row;
    justify-content: center;
}



a {
    color: white !important;
    cursor: pointer;
}

a:hover {
    color: rgba(255, 255, 255, 0.647) !important;
}

#phone-icon{
    max-width: 30px !important;
    max-height: 30px !important;
    min-width: 15px;
    filter: invert(80%);
    
}

.dropdown-menu {
    background-color: $stixcp-blue !important;
    border: 2px solid rgb(85, 84, 84) !important;
    cursor: pointer;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}

.phone_link{
    background-color: transparent;

}




#collapse-button {
    max-width: 30px;
    cursor: pointer;
}

.navbar-toggler:focus .navbar-toggler:active,
.navbar-toggler-icon:focus {
    color: rgba(255, 255, 255, 0.071) !important;
}

.navbar-toggler div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-toggler-icon {
    filter: invert(100%);
    min-width: 30px; 
}


.navbar-brand img {
    min-width: 80px;
    width: 100% !important;
    border-radius: 20px;
   justify-self: center !important;
   background-size: contain !important;
   margin-left: 1.2em;

}