@import './root.scss';


.navbar {
    background-color: $stixcp-blue;
    color: $stixcp-white;
    min-width: 250px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-position: center;
    height: max-content;
}


a {
    cursor: pointer;
    color: $stixcp-white !important;
    background-color: $stixcp-blue;
    margin-bottom: 15px;
}

li {
    background-color: rgba(128, 128, 128, 0.117);    
    color: $stixcp-white;
}



ul{
    background-color: $stixcp-blue;

}


.nav-link {
    background-color: transparent;
    color: white;
}


a:hover {
    color: rgba(255, 255, 255, 0.647) !important;
}

#phone-icon {
    max-width: 30px !important;
    max-height: 30px !important;
    min-width: 15px;
    filter: invert(80%);
    max-height: 120px
}

.dropdown-menu {
    border: 2px solid rgb(85, 84, 84) !important;
    cursor: pointer;
}

.navbar-brand {
    padding: 0 !important;
    max-width: 150px !important;
    cursor: pointer;
}

.phone_link {
    background-color: transparent;

}




#collapse-button {
    cursor: pointer;
}


  

.navbar-toggler:focus .navbar-toggler:active,
.navbar-toggler-icon:focus {
    color: rgba(255, 255, 255, 0.071) !important;
    
}

.navbar-toggler div {
    width: 100%;
    display: flex;
    justify-content: center;
    

    
}

.navbar-toggler-icon {
    width: 100%;
    min-width: 30px;
}

.navbar-nav{    
    margin-top: 85px;
    background-color: #2d2660ea;  
    border-radius: 0px 0px 10px 10px;  

}


#navbarNav{
    position: relative !important;
    z-index: 7000;
    min-width: 120%;  
    
}




