//Colors
$stixcp-blue: #0c034c;
$stixcp-white: rgba(255, 255, 255, 0.919);


//Text
$stixcp-large-size: 32px;
$stixcp-normal-size: 24px;
$stixcp-small-size: 18px;

$stixcp-font:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
